/* Add you custom css here */

.directorist-custom-badge.my-badge-partenaire
{
    width: fit-content !important;
    padding: 6px 8px !important;
    border-radius: 5px !important;
    background-color: green !important;
}